firstproject/src/main/mule/firstproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ffaf5ff7-cf95-476a-abe6-03539d982859" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ea62f3f0-984d-488b-9e55-19deca338741" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="2f1b3c19-cdd8-4de5-a7be-2cf10466b21a" >
		<http:listener doc:name="Listener" doc:id="ff848a01-e838-4dd3-af48-dc391ecc93ce" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="3e101939-2b1a-41c6-833d-4304aad70a6d" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="79e22114-e58e-410a-baad-46b4520d7974" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: ((payload01.code2 default "") default "") ++ payload01.code1,
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="7b2fd690-91a3-4e3f-af94-6ad715467e04" >
		<http:listener doc:name="Copy_of_Listener" doc:id="47e48f32-c850-4c41-af68-67354f4c351c" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<db:select doc:name="Copy_of_Select" doc:id="57eeb9cf-ef5f-458b-be04-b55f7c10866d" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT *
FROM american
WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="485db67a-7264-4da5-9224-d01a1c366866" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: ((payload01.code2 default "") default "") ++ payload01.code1,
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="3c52ad84-1029-4c96-ae6d-a71382216a3e" >
		<http:listener doc:name="Listener" doc:id="c887e4e0-ea3f-4d4e-a0d3-f501780d6dc0" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='payload{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="8c606f8a-88fc-4823-a282-8781937deb10" />
	</flow>
</mule>
